# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.vscode
.github

# Local env files
.env
.env.*

# the database, lol
db/

README.md

# Please don't include mailmerge as the image doesn't need it
mailmerge/