TENANT_ID=
CLIENT_ID=
CLIENT_SECRET=
BASE_URL=http(s)://
JWT_SECRET=
WEBMASTERS=shortcode,shortcode

PGUSER=
PGPASSWORD=
PGHOST=
PGPORT=
PGDB=

NODEMAILER_HOST=smtp-mail.outlook.com
NODEMAILER_PORT=587
NODEMAILER_USER=
NODEMAILER_PASS=

ABC_API_USER=docsoc
ABC_API_PASS=