Hi {{ recipient }},

We hope you are looking forward to DoCSoc Mums & Dads which will be starting **today at 12:00 in HXLY 340/341/342**!

We have an exciting afternoon planned for you - including a quiz and pizza!

On arrival please go to the DoCSoc desk in the hallway and a committee member will direct you to your table, where you will meet your family.

Your family ID (table number) is **{{ id }}**.

Please find information about your family below:

**Parents:**
- {{ parent1 }} ({{ parent1shortcode }})
- {{ parent2 }} ({{ parent2shortcode }})

**Children:**
- {{ child1 }} ({{ child1shortcode }})
- {{ child2 }} ({{ child2shortcode }})
- {{ child3 }} ({{ child3shortcode }})
- {{ child4 }} ({{ child4shortcode }})

You can also find this information on the Mums & Dads website: [https://family.docsoc.co.uk](https://family.docsoc.co.uk)

We look forward to seeing you today - remember to also go to Sponsors Exhibition in the afternoon, and that Internships 101 will be happening tomorrow at 6pm!

Kind regards,  
Kishan Sambhi  
DoCSoc Vice President 2024-25, on behalf of the DoCSoc Committee.