<!-- DoCSoc Mail Merge Wrapper - used to wrap results rendered from Markdown -->
<!-- You probably don't need to edit this file, but you can if you want to! -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
        <!-- All HTML wrappers must provide a content block as below to render the content fron the markdown-->
		{{ content }}
	</body>
</html>